<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- th:if 条件成立就显示 -->
    <h1 th:if="${flag=='yes'}" >中公教育</h1>
    <!-- th:unless 条件不成立就显示 -->
    <h1 th:unless="${flag=='yes'}" >优就业</h1>
    <!-- switch选择语句 -->
    <div th:switch="${menu}">
        <p th:case="'admin'">User is an administrator</p>
        <p th:case="${manager}">User is a manager</p>
    </div>

    <!--引入片段-->
    <!--insert  原有的样式直接插入-->
    <div th:insert="~{footer :: copy}"></div>
    <!--include 去除掉片段中的样式-->
    <div th:include="~{footer :: copy}"></div>
    <!--replace 将原页面中的样式替换掉-->
    <div th:replace="~{footer :: copy}"></div>

</body>
</html>